.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $primary-text-color;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contacts__item {
  margin-left: 50px;

  &:first-child {
    margin-left: 0;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;

  &--mail {
    width: 16px;
    height: 12px;
  }

  &--tel {
    width: 10px;
    height: 16px;
  }
}
