.hero {
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-480.jpg);
  
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
          background-image:
          url(../images/hero-480@2x.jpg);
        }
    }

    @media screen and (min-width: 768px) {
      max-width: 768px;
      height: 400px;
      background-image: linear-gradient(
      to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-768.jpg);
      background-color: $background-color;

      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        .hero {
          background-image:
          url(../images/hero-768@2x.jpg);
        }
      }
    }
    @media screen and (min-width: 1200px) {
      max-width: 1600px;
      height: 600px;
      padding: 200px 0px;
      background-image: linear-gradient(
      to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-1200.jpg);
      background-color: $background-color;

      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        .hero {
          background-image:
          url(../images/hero-1200@2x.jpg);
        }
      }
    }

 
  .hero__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
 
    color: $primary-white-color;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    } 
  }

  .hero__button {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    border: 0px;

    color: $primary-white-color;
    background-color: $accent-color;
    cursor: pointer;

    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
  }
}
