// Палитра цветов

$primary-text-color: #757575;
$logo-color: #000000;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$mail-tel-color: rgba(255, 255, 255, 0.6);
$button-background-color: #f5f4fa;
$background-color: #2f303a;
$border-header-color: #ececec;
$border-card-project: #eeeeee;
$color-link: #afb1b8;
$color-link-footer: #44454e;
